In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('../data/female_ratio_tertiary.csv', header=0)

In [60]:
df.shape

(5587, 9)

In [61]:
df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Engineering, Manufacturing and Construction programmes in tertiary education who are female (%)"]
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Information and Communication Technologies programmes in tertiary education who are female (%)"]
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Natural Sciences, Mathematics and Statistics programmes in tertiary education who are female (%)"]
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Agriculture, Forestry, Fisheries and Veterinary programmes in tertiary education who are female (%)"]

In [62]:
df_tmp_2 = df_tmp[df_tmp["Time"] == 2015]

In [63]:
df_tmp_2.columns

Index(['EDULIT_IND', 'Indicator', 'LOCATION', 'Country', 'TIME', 'Time',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [64]:
df_new = df_tmp_2.drop(['Flag Codes', 'TIME', 'EDULIT_IND', 'Indicator', 'Flags'], axis=1)

In [65]:
df_new=df_new.sort_values(by=['Country'])

In [66]:
df_new["rank"] = df_new["Value"].rank(method='min',ascending=False)

In [67]:
df_new["Value"] =df_new["Value"].round(2)
df_new

,LOCATION,Country,Time,Value,rank
1665,ALB,Albania,2015,33.89,20.0
3032,DZA,Algeria,2015,39.17,6.0
3427,AND,Andorra,2015,100.00,1.0
371,AGO,Angola,2015,17.79,95.0
2857,ABW,Aruba,2015,NaN,NaN
2847,AUS,Australia,2015,21.19,81.0
299,AUT,Austria,2015,24.40,65.0
424,AZE,Azerbaijan,2015,24.49,63.0
2567,BHR,Bahrain,2015,30.12,34.0
3314,BLR,Belarus,2015,23.33,70.0
2176,BEL,Belgium,2015,21.58,79.0
5506,BLZ,Belize,2015,10.78,110.0
473,BEN,Benin,2015,13.84,104.0
3087,BMU,Bermuda,2015,29.63,35.0
3105,BIH,Bosnia and Herzegovina,2015,35.56,18.0
3574,BWA,Botswana,2015,28.79,38.0
2973,BRA,Brazil,2015,33.10,24.0
5529,VGB,British Virgin Islands,2015,NaN,NaN
3331,BRN,Brunei Darussalam,2015,47.09,3.0
516,BGR,Bulgaria,2015,26.03,57.0
1638,BFA,Burkina Faso,2015,18.89,93.0
2368,CPV,Cabo Verde,2015,27.36,49.0
2962,KHM,Cambodia,2015,13.01,106.0
3259,CMR,Cameroon,2015,31.63,28.0
2509,CAN,Canada,2015,20.02,87.0
1839,CHL,Chile,2015,19.41,90.0
755,HKG,"China, Hong Kong Special Administrative Region",2015,23.19,72.0
2456,MAC,"China, Macao Special Administrative Region",2015,17.25,96.0
1156,COL,Colombia,2015,33.30,22.0
960,HRV,Croatia,2015,26.79,53.0
...,...,...,...,...,...
2495,QAT,Qatar,2015,35.57,17.0
334,KOR,Republic of Korea,2015,16.40,98.0
1082,ROU,Romania,2015,31.59,29.0
2992,RWA,Rwanda,2015,27.18,51.0
3703,KNA,Saint Kitts and Nevis,2015,51.67,2.0
3593,LCA,Saint Lucia,2015,24.78,61.0
2499,STP,Sao Tome and Principe,2015,36.52,12.0
1370,SAU,Saudi Arabia,2015,8.36,113.0
174,SRB,Serbia,2015,33.69,21.0
1002,SYC,Seychelles,2015,21.74,78.0
3766,SXM,Sint Maarten (Dutch part),2015,NaN,NaN
2300,SVK,Slovakia,2015,26.69,54.0
1326,SVN,Slovenia,2015,25.63,60.0
3623,ZAF,South Africa,2015,27.80,45.0
1255,ESP,Spain,2015,25.78,58.0
2340,LKA,Sri Lanka,2015,28.75,39.0
5501,SDN,Sudan,2015,27.98,44.0
1566,SWE,Sweden,2015,30.75,31.0
2680,CHE,Switzerland,2015,18.05,94.0
2033,SYR,Syrian Arab Republic,2015,37.79,10.0
1105,TJK,Tajikistan,2015,8.61,112.0
343,MKD,The former Yugoslav Republic of Macedonia,2015,40.23,5.0
3470,TUN,Tunisia,2015,38.87,7.0
852,TUR,Turkey,2015,24.32,66.0
3343,UKR,Ukraine,2015,24.52,62.0
587,ARE,United Arab Emirates,2015,36.40,13.0
1980,GBR,United Kingdom of Great Britain and Northern I...,2015,20.71,83.0
249,USA,United States of America,2015,15.08,101.0
2547,VNM,Viet Nam,2015,33.19,23.0
1489,ZWE,Zimbabwe,2015,22.38,77.0

In [68]:
df_new.to_csv('female_ratio_engineering.csv')
#df_new.to_csv('female_ratio_information.csv')
#df_new.to_csv('female_ratio_science.csv')
#df_new.to_csv('female_ratio_agriculture.csv')