In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/female_ratio_tertiary.csv', header=0)

In [4]:
df.shape

(5587, 9)

In [12]:
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Engineering, Manufacturing and Construction programmes in tertiary education who are female (%)"]
df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Information and Communication Technologies programmes in tertiary education who are female (%)"]

In [13]:
df_tmp_2 = df_tmp[df_tmp["Time"] == 2015]

In [14]:
df_tmp_2.columns

Index(['EDULIT_IND', 'Indicator', 'LOCATION', 'Country', 'TIME', 'Time',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [15]:
df_new = df_tmp_2.drop(['Flag Codes', 'TIME', 'EDULIT_IND', 'Indicator', 'Flags'], axis=1)

In [16]:
df_new["rank"] = df_new["Value"].rank(method='min',ascending=False)

In [17]:
df_new["Value"] =df_new["Value"].round(2)
df_new

,LOCATION,Country,Time,Value,rank
52,DNK,Denmark,2015,18.96,70.0
73,GBR,United Kingdom of Great Britain and Northern I...,2015,17.15,76.0
102,MCO,Monaco,2015,NaN,NaN
227,NAM,Namibia,2015,33.56,24.0
239,LTU,Lithuania,2015,12.16,93.0
292,BRN,Brunei Darussalam,2015,44.62,12.0
313,LVA,Latvia,2015,21.85,56.0
419,SWE,Sweden,2015,74.45,1.0
429,CUB,Cuba,2015,NaN,NaN
457,ALB,Albania,2015,37.07,20.0
467,DEU,Germany,2015,19.50,66.0
470,ZWE,Zimbabwe,2015,57.92,4.0
529,MEX,Mexico,2015,30.76,29.0
576,ERI,Eritrea,2015,42.38,15.0
595,ISL,Iceland,2015,20.80,60.0
597,MAR,Morocco,2015,42.79,14.0
687,UKR,Ukraine,2015,19.26,67.0
736,PSE,Palestine,2015,45.65,8.0
742,CHE,Switzerland,2015,11.31,95.0
751,BEN,Benin,2015,16.50,79.0
818,NOR,Norway,2015,19.11,69.0
880,EST,Estonia,2015,25.45,45.0
891,BHR,Bahrain,2015,45.08,9.0
934,ABW,Aruba,2015,NaN,NaN
936,HND,Honduras,2015,27.73,41.0
939,IRL,Ireland,2015,17.13,77.0
950,CPV,Cabo Verde,2015,28.47,36.0
1008,MOZ,Mozambique,2015,24.58,49.0
1011,NER,Niger,2015,33.26,25.0
1045,KGZ,Kyrgyzstan,2015,39.08,19.0
...,...,...,...,...,...
2761,ROU,Romania,2015,28.18,38.0
2766,ITA,Italy,2015,17.52,74.0
2887,HKG,"China, Hong Kong Special Administrative Region",2015,24.66,47.0
2893,ISR,Israel,2015,25.80,44.0
2919,COL,Colombia,2015,23.00,51.0
2982,AND,Andorra,2015,19.64,65.0
3017,MLI,Mali,2015,15.97,80.0
3044,LKA,Sri Lanka,2015,41.80,16.0
3050,CHL,Chile,2015,10.33,96.0
3089,GRD,Grenada,2015,39.66,18.0
3211,DZA,Algeria,2015,48.38,7.0
3241,LSO,Lesotho,2015,29.35,35.0
3252,CIV,Côte d'Ivoire,2015,23.74,50.0
3264,AGO,Angola,2015,20.34,63.0
3439,EGY,Egypt,2015,29.47,34.0
3490,CAN,Canada,2015,24.64,48.0
3523,KHM,Cambodia,2015,9.66,97.0
3547,ZAF,South Africa,2015,36.71,22.0
3613,DOM,Dominican Republic,2015,21.11,58.0
3675,BIH,Bosnia and Herzegovina,2015,21.96,55.0
3678,BMU,Bermuda,2015,30.30,31.0
3687,KNA,Saint Kitts and Nevis,2015,NaN,NaN
3711,IND,India,2015,44.87,11.0
3776,SXM,Sint Maarten (Dutch part),2015,70.00,3.0
5495,BLZ,Belize,2015,17.37,75.0
5512,VGB,British Virgin Islands,2015,27.71,42.0
5528,PRK,Democratic People's Republic of Korea,2015,19.23,68.0
5533,ARM,Armenia,2015,28.19,37.0
5554,GTM,Guatemala,2015,12.94,92.0
5583,SDN,Sudan,2015,NaN,NaN

In [18]:
#df_new.to_csv('female_ratio_engineering.csv')
df_new.to_csv('female_ratio_information.csv')